In [22]:
%idle_timeout 2880
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from awsglue.dynamicframe import DynamicFrame
from pyspark.sql.functions import col, trim, to_date, when
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

You are already connected to a glueetl session 1a0e7969-58cc-49b8-abfa-178a38ca5cfe.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Current idle_timeout is 2880 minutes.
idle_timeout has been set to 2880 minutes.

You are already connected to a glueetl session 1a0e7969-58cc-49b8-abfa-178a38ca5cfe.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Setting Glue version to: 4.0

You are already connected to a glueetl session 1a0e7969-58cc-49b8-abfa-178a38ca5cfe.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous worker type: G.1X
Setting new worker type to: G.1X

You are already connected to a glueetl session 1a0e7969-58cc-49b8-abfa-178a38ca5cfe.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous number of workers: 5
Setting new number of workers to: 5

In [23]:
# Loading the dataset into a DynamicFrame
dynamicFrameEnigma = glueContext.create_dynamic_frame.from_catalog(database="coviddatabase", table_name="enigma-jhu")

# Since, the above python code will show col0, col1,...as first row. so by mapping the column names to new ones
mapped_dynamic_frame = dynamicFrameEngima.apply_mapping([
    ('col0', 'string', 'fips', 'string'),
    ('col1', 'string', 'admin2', 'string'),
    ('col2', 'string', 'province_state', 'string'),
    ('col3', 'string', 'country_region', 'string'),
    ('col4', 'string', 'last_update', 'string'),
    ('col5', 'string', 'latitude', 'string'),
    ('col6', 'string', 'longitude', 'string'),
    ('col7', 'string', 'confirmed', 'string'),
    ('col8', 'string', 'deaths', 'string'),
    ('col9', 'string', 'recovered', 'string'),
    ('col10', 'string', 'active', 'string'),
    ('col11', 'string', 'combined_key', 'string')
])

# Converting the DynamicFrame to an iterable of records
records = mapped_dynamic_frame.toDF().collect()

# Shifting the rows (make the second row the first row)
header = records.pop(0)

# Creating a new DynamicFrame from the remaining records
newdynamicFrameEnigma = DynamicFrame.fromDF(spark.createDataFrame(records, schema=header), glueContext, "newdynamicFrameEnigma")

# Showing Dynamic Frame to Spark DataFrame
sparkDf = newdynamicFrameEnigma.toDF()
# Showing spark DF
sparkDf.show(10)

+----+------+--------------+--------------+-------------------+--------+---------+---------+------+---------+------+----------------+
|fips|admin2|province_state|country_region|        last_update|latitude|longitude|confirmed|deaths|recovered|active|    combined_key|
+----+------+--------------+--------------+-------------------+--------+---------+---------+------+---------+------+----------------+
|    |      |         Anhui|         China|2020-01-22T17:00:00|  31.826|  117.226|        1|      |         |      |    Anhui, China|
|    |      |       Beijing|         China|2020-01-22T17:00:00|  40.182|  116.414|       14|      |         |      |  Beijing, China|
|    |      |     Chongqing|         China|2020-01-22T17:00:00|  30.057|  107.874|        6|      |         |      |Chongqing, China|
|    |      |        Fujian|         China|2020-01-22T17:00:00|  26.079|  117.987|        1|      |         |      |   Fujian, China|
|    |      |         Gansu|         China|2020-01-22T17:00:00|  36.061|  103.834|         |      |         |      |    Gansu, China|
|    |      |     Guangdong|         China|2020-01-22T17:00:00|  23.342|  113.424|       26|      |         |      |Guangdong, China|
|    |      |       Guangxi|         China|2020-01-22T17:00:00|   23.83|  108.788|        2|      |         |      |  Guangxi, China|
|    |      |       Guizhou|         China|2020-01-22T17:00:00|  26.815|  106.875|        1|      |         |      |  Guizhou, China|
|    |      |           Hai|         China|2020-01-22T17:00:00|  19.196|  109.745|        4|      |         |      |      Hai, China|
|    |      |         Hebei|         China|2020-01-22T17:00:00|  38.043|  114.515|        1|      |         |      |    Hebei, China|
+----+------+--------------+--------------+-------------------+--------+---------+---------+------+---------+------+----------------+
only showing top 10 rows

In [24]:
# Data Cleaning 
# Handling Missing and Null Values
# Replacing empty strings with None to handle them as null values
sparkDf = sparkDf.select([when(col(c) == "", None).otherwise(col(c)).alias(c) for c in sparkDf.columns])

# Replacing missing and null values with default values
fill_values = {
    "fips": "Unknown",
    "admin2": "Unknown",
    "province_state": "Unknown",
    "country_region": "Unknown",
    "latitude": 0.0,
    "longitude": 0.0,
    "confirmed": 0,
    "deaths": 0,
    "recovered": 0,
    "active": 0,
    "combined_key": "Unknown"
}

# Applying fill values for nulls
sparkDf = sparkDf.na.fill(fill_values)

# Show the DataFrame to inspect the first 10 rows after filling values
sparkDf.show(10)

+-------+-------+--------------+--------------+-------------------+--------+---------+---------+------+---------+------+----------------+
|   fips| admin2|province_state|country_region|        last_update|latitude|longitude|confirmed|deaths|recovered|active|    combined_key|
+-------+-------+--------------+--------------+-------------------+--------+---------+---------+------+---------+------+----------------+
|Unknown|Unknown|         Anhui|         China|2020-01-22T17:00:00|  31.826|  117.226|        1|     0|        0|     0|    Anhui, China|
|Unknown|Unknown|       Beijing|         China|2020-01-22T17:00:00|  40.182|  116.414|       14|     0|        0|     0|  Beijing, China|
|Unknown|Unknown|     Chongqing|         China|2020-01-22T17:00:00|  30.057|  107.874|        6|     0|        0|     0|Chongqing, China|
|Unknown|Unknown|        Fujian|         China|2020-01-22T17:00:00|  26.079|  117.987|        1|     0|        0|     0|   Fujian, China|
|Unknown|Unknown|         Gansu|         China|2020-01-22T17:00:00|  36.061|  103.834|        0|     0|        0|     0|    Gansu, China|
|Unknown|Unknown|     Guangdong|         China|2020-01-22T17:00:00|  23.342|  113.424|       26|     0|        0|     0|Guangdong, China|
|Unknown|Unknown|       Guangxi|         China|2020-01-22T17:00:00|   23.83|  108.788|        2|     0|        0|     0|  Guangxi, China|
|Unknown|Unknown|       Guizhou|         China|2020-01-22T17:00:00|  26.815|  106.875|        1|     0|        0|     0|  Guizhou, China|
|Unknown|Unknown|           Hai|         China|2020-01-22T17:00:00|  19.196|  109.745|        4|     0|        0|     0|      Hai, China|
|Unknown|Unknown|         Hebei|         China|2020-01-22T17:00:00|  38.043|  114.515|        1|     0|        0|     0|    Hebei, China|
+-------+-------+--------------+--------------+-------------------+--------+---------+---------+------+---------+------+----------------+
only showing top 10 rows

In [25]:
# Converting back to DynamicFrame for writing to S3
cleaned_dynamic_frame = DynamicFrame.fromDF(sparkDf, glueContext, "cleaned_dynamic_frame")

# Write the cleaned data back to S3
output_path = "s3://etlemrbucket/cleandata/"
glueContext.write_dynamic_frame.from_options(
    frame=cleaned_dynamic_frame,
    connection_type="s3",
    connection_options={"path": output_path},
    format="csv"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f83b6ddaaa0>

In [26]:
# Loading the dataset into a DynamicFrame
dynamicFrameUSstates = glueContext.create_dynamic_frame.from_catalog(database="coviddatabase", table_name="us_states")
# Map the column names to new ones
mapped_dynamic_frame = dynamicFrameUSstates.apply_mapping([
    ('col0', 'string', 'date', 'string'),
    ('col1', 'string', 'state', 'string'),
    ('col2', 'string', 'fips', 'string'),
    ('col3', 'string', 'cases', 'string'),
    ('col4', 'string', 'deaths', 'string')
])
# Converting the DynamicFrame to an iterable of records
records = mapped_dynamic_frame.toDF().collect()

# Shifting the rows (make the second row the first row)
header = records.pop(0)

# Creating a new DynamicFrame from the remaining records
newdynamicFrameUSstates = DynamicFrame.fromDF(spark.createDataFrame(records, schema=header), glueContext, "newdynamicFrameUSstates")

# Showing Dynamic Frame to Spark DataFrame
sparkDf = newdynamicFrameUSstates.toDF()
# Showing spark DF
sparkDf.show(10)

+----------+----------+----+-----+------+
|      date|     state|fips|cases|deaths|
+----------+----------+----+-----+------+
|2020-01-21|Washington|  53|    1|     0|
|2020-01-22|Washington|  53|    1|     0|
|2020-01-23|Washington|  53|    1|     0|
|2020-01-24|  Illinois|  17|    1|     0|
|2020-01-24|Washington|  53|    1|     0|
|2020-01-25|California|  06|    1|     0|
|2020-01-25|  Illinois|  17|    1|     0|
|2020-01-25|Washington|  53|    1|     0|
|2020-01-26|   Arizona|  04|    1|     0|
|2020-01-26|California|  06|    2|     0|
+----------+----------+----+-----+------+
only showing top 10 rows

In [27]:
# Handling Missing and Null Values
# Replacing empty strings with None to handle them as null values
sparkDf = sparkDf.select([when(col(c) == "", None).otherwise(col(c)).alias(c) for c in sparkDf.columns])

# Replacing missing and null values with default values
fill_values = {
    "date": "1970-01-01",
    "state": "Unknown",
    "fips": "000",
    "cases": 0,
    "deaths": 0
}

# Applying fill values for nulls
sparkDf = sparkDf.na.fill(fill_values)
# Showing the DataFrame to inspect the first 10 rows after filling values
sparkDf.show(10)

+----------+----------+----+-----+------+
|      date|     state|fips|cases|deaths|
+----------+----------+----+-----+------+
|2020-01-21|Washington|  53|    1|     0|
|2020-01-22|Washington|  53|    1|     0|
|2020-01-23|Washington|  53|    1|     0|
|2020-01-24|  Illinois|  17|    1|     0|
|2020-01-24|Washington|  53|    1|     0|
|2020-01-25|California|  06|    1|     0|
|2020-01-25|  Illinois|  17|    1|     0|
|2020-01-25|Washington|  53|    1|     0|
|2020-01-26|   Arizona|  04|    1|     0|
|2020-01-26|California|  06|    2|     0|
+----------+----------+----+-----+------+
only showing top 10 rows

In [28]:
# Converting back to DynamicFrame for writing to S3
cleaned_dynamic_frame = DynamicFrame.fromDF(sparkDf, glueContext, "cleaned_dynamic_frame")

# Write the cleaned data back to S3
output_path = "s3://etlemrbucket/cleandata/"
glueContext.write_dynamic_frame.from_options(
    frame=cleaned_dynamic_frame,
    connection_type="s3",
    connection_options={"path": output_path},
    format="csv"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f83d62e13c0>

In [31]:
# Loading the dataset into a DynamicFrame
dynamicFrameUScounties = glueContext.create_dynamic_frame.from_catalog(database="coviddatabase", table_name="us_counties")
# Map the column names to new ones
mapped_dynamic_frame = dynamicFrameUScounties.apply_mapping([
    ('col0', 'string', 'date', 'string'),
    ('col1', 'string', 'county', 'string'),
    ('col2', 'string', 'state', 'string'),
    ('col3', 'string', 'fips', 'string'),
    ('col4', 'string', 'cases', 'string'),
    ('col5', 'string', 'deaths', 'string')
])
# Converting the DynamicFrame to an iterable of records
records = mapped_dynamic_frame.toDF().collect()

# Shifting the rows (make the second row the first row)
header = records.pop(0)

# Creating a new DynamicFrame from the remaining records
newdynamicFrameUScounties = DynamicFrame.fromDF(spark.createDataFrame(records, schema=header), glueContext, "newdynamicFrameUScounties")

# Showing Dynamic Frame to Spark DataFrame
sparkDf = newdynamicFrameUScounties.toDF()
# Showing spark DF
sparkDf.show(10)

+----------+-----------+----------+-----+-----+------+
|      date|     county|     state| fips|cases|deaths|
+----------+-----------+----------+-----+-----+------+
|2020-01-21|  Snohomish|Washington|53061|    1|     0|
|2020-01-22|  Snohomish|Washington|53061|    1|     0|
|2020-01-23|  Snohomish|Washington|53061|    1|     0|
|2020-01-24|       Cook|  Illinois|17031|    1|     0|
|2020-01-24|  Snohomish|Washington|53061|    1|     0|
|2020-01-25|     Orange|California|06059|    1|     0|
|2020-01-25|       Cook|  Illinois|17031|    1|     0|
|2020-01-25|  Snohomish|Washington|53061|    1|     0|
|2020-01-26|   Maricopa|   Arizona|04013|    1|     0|
|2020-01-26|Los Angeles|California|06037|    1|     0|
+----------+-----------+----------+-----+-----+------+
only showing top 10 rows

In [35]:
# Handle Missing and Null Values
# Replace empty strings with None to handle them as null values
sparkDf = sparkDf.select([when(col(c) == "", None).otherwise(col(c)).alias(c) for c in sparkDf.columns])

# Define fill values for nulls
fill_values = {
    "date": "1970-01-01",
    "county": "Unknown",
    "state": "Unknown",
    "fips": "000",
    "cases": 0,
    "deaths": 0
}

# Apply fill values for nulls
sparkDf = sparkDf.na.fill(fill_values)
# Showing the DataFrame to inspect the first 10 rows after filling values
sparkDf.show(10)

+----------+-----------+----------+-----+-----+------+
|      date|     county|     state| fips|cases|deaths|
+----------+-----------+----------+-----+-----+------+
|2020-01-21|  Snohomish|Washington|53061|    1|     0|
|2020-01-22|  Snohomish|Washington|53061|    1|     0|
|2020-01-23|  Snohomish|Washington|53061|    1|     0|
|2020-01-24|       Cook|  Illinois|17031|    1|     0|
|2020-01-24|  Snohomish|Washington|53061|    1|     0|
|2020-01-25|     Orange|California|06059|    1|     0|
|2020-01-25|       Cook|  Illinois|17031|    1|     0|
|2020-01-25|  Snohomish|Washington|53061|    1|     0|
|2020-01-26|   Maricopa|   Arizona|04013|    1|     0|
|2020-01-26|Los Angeles|California|06037|    1|     0|
+----------+-----------+----------+-----+-----+------+
only showing top 10 rows

In [36]:
# Converting back to DynamicFrame for writing to S3
cleaned_dynamic_frame = DynamicFrame.fromDF(sparkDf, glueContext, "cleaned_dynamic_frame")

# Write the cleaned data back to S3
output_path = "s3://etlemrbucket/cleandata/"
glueContext.write_dynamic_frame.from_options(
    frame=cleaned_dynamic_frame,
    connection_type="s3",
    connection_options={"path": output_path},
    format="csv"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f83c27c6b00>

In [37]:
# Loading the dataset into a DynamicFrame
dynamicFrameUSdaily = glueContext.create_dynamic_frame.from_catalog(database="coviddatabase", table_name="us_daily")

# Since, the above python code will show col0, col1,...as first row. so by mapping the column names to new ones
# Map the column names to new ones
mapped_dynamic_frame = dynamicFrameUSdaily.apply_mapping([
    ('col0', 'string', 'date', 'string'),
    ('col1', 'string', 'states', 'string'),
    ('col2', 'string', 'positive', 'string'),
    ('col3', 'string', 'negative', 'string'),
    ('col4', 'string', 'pending', 'string'),
    ('col5', 'string', 'hospitalizedCurrently', 'string'),
    ('col6', 'string', 'hospitalizedCumulative', 'string'),
    ('col7', 'string', 'inIcuCurrently', 'string'),
    ('col8', 'string', 'inIcuCumulative', 'string'),
    ('col9', 'string', 'onVentilatorCurrently', 'string'),
    ('col10', 'string', 'onVentilatorCumulative', 'string'),
    ('col11', 'string', 'dateChecked', 'string'),
    ('col12', 'string', 'death', 'string'),
    ('col13', 'string', 'hospitalized', 'string'),
    ('col14', 'string', 'totalTestResults', 'string'),
    ('col15', 'string', 'lastModified', 'string'),
    ('col16', 'string', 'recovered', 'string'),
    ('col17', 'string', 'total', 'string'),
    ('col18', 'string', 'posNeg', 'string'),
    ('col19', 'string', 'deathIncrease', 'string'),
    ('col20', 'string', 'hospitalizedIncrease', 'string'),
    ('col21', 'string', 'negativeIncrease', 'string'),
    ('col22', 'string', 'positiveIncrease', 'string'),
    ('col23', 'string', 'totalTestResultsIncrease', 'string'),
    ('col24', 'string', 'hash', 'string')
])

# Converting the DynamicFrame to an iterable of records
records = mapped_dynamic_frame.toDF().collect()

# Shifting the rows (make the second row the first row)
header = records.pop(0)

# Creating a new DynamicFrame from the remaining records
newdynamicFrameUSdaily = DynamicFrame.fromDF(spark.createDataFrame(records, schema=header), glueContext, "newdynamicFrameUSdaily")

# Showing Dynamic Frame to Spark DataFrame
sparkDf = newdynamicFrameUSdaily.toDF()
# Showing spark DF
sparkDf.show(10)

+--------+------+--------+--------+-------+---------------------+----------------------+--------------+---------------+---------------------+----------------------+--------------------+------+------------+----------------+--------------------+---------+-----+------+-------------+--------------------+----------------+----------------+------------------------+--------------------+
|    date|states|positive|negative|pending|hospitalizedCurrently|hospitalizedCumulative|inIcuCurrently|inIcuCumulative|onVentilatorCurrently|onVentilatorCumulative|         dateChecked| death|hospitalized|totalTestResults|        lastModified|recovered|total|posNeg|deathIncrease|hospitalizedIncrease|negativeIncrease|positiveIncrease|totalTestResultsIncrease|                hash|
+--------+------+--------+--------+-------+---------------------+----------------------+--------------+---------------+---------------------+----------------------+--------------------+------+------------+----------------+--------------------+---------+-----+------+-------------+--------------------+----------------+----------------+------------------------+--------------------+
|20210307|    56|28755524|74579770|  11808|                40212|                878613|          8137|          45475|                 2801|                  4281|2021-03-07T24:00:00Z|515142|      878613|       363789451|2021-03-07T24:00:00Z|         |    0|     0|          839|                 726|          130414|           41265|                 1156241|8b26839690cd05c0c...|
|20210306|    56|28714259|74449356|  11783|                41401|                877887|          8409|          45453|                 2811|                  4280|2021-03-06T24:00:00Z|514303|      877887|       362633210|2021-03-06T24:00:00Z|         |    0|     0|         1674|                 503|          142201|           59620|                 1409138|d0c0482ea549c9d5c...|
|20210305|    56|28654639|74307155|  12213|                42541|                877384|          8634|          45373|                 2889|                  4275|2021-03-05T24:00:00Z|512629|      877384|       361224072|2021-03-05T24:00:00Z|         |    0|     0|         2221|                2781|          271917|           68787|                 1744417|a35ea4289cec4bb55...|
|20210304|    56|28585852|74035238|  12405|                44172|                874603|          8970|          45293|                 2973|                  4267|2021-03-04T24:00:00Z|510408|      874603|       359479655|2021-03-04T24:00:00Z|         |    0|     0|         1743|                1530|          177957|           65487|                 1590984|a19ad6379a653834c...|
|20210303|    56|28520365|73857281|  11778|                45462|                873073|          9359|          45214|                 3094|                  4260|2021-03-03T24:00:00Z|508665|      873073|       357888671|2021-03-03T24:00:00Z|         |    0|     0|         2449|                2172|          267001|           66836|                 1406795|9e1d2afda1b0ec243...|
|20210302|    56|28453529|73590280|  11196|                46388|                870901|          9465|          45084|                 3169|                  4257|2021-03-02T24:00:00Z|506216|      870901|       356481876|2021-03-02T24:00:00Z|         |    0|     0|         1728|                1871|          255779|           54248|                 1343519|d09d1f506dacacd07...|
|20210301|    56|28399281|73334501|  11748|                46738|                869030|          9595|          44956|                 3171|                  4252|2021-03-01T24:00:00Z|504488|      869030|       355138357|2021-03-01T24:00:00Z|         |    0|     0|         1241|                1024|          118077|           48092|                 1154440|b8084497a1216c1ba...|
|20210228|    56|28351189|73216424|  11708|                47352|                868006|          9802|          44907|                 3245|                  4252|2021-02-28T24:00:00Z|503247|      868006|       353983917|2021-02-28T24:00:00Z|         |    0|     0|         1051|                 879|          203599|           54349|                 1408422|c7cfdf3c2bf747296...|
|20210227|    56|28296840|73012825|  11731|                48871|                867127|         10114|          44875|                 3335|                  4252|2021-02-27T24:00:00Z|502196|      867127|       352575495|2021-02-27T24:00:00Z|         |    0|     0|         1847|                1428|          205090|           71245|                 1655179|b1154e8002e47ec58...|
|20210226|    56|28225595|72807735|  11945|                51112|                865699|         10466|          44791|                 3466|                  4247|2021-02-26T24:00:00Z|500349|      865699|       350920316|2021-02-26T24:00:00Z|         |    0|     0|         2141|                1933|          276829|           74857|                 1803309|24286d9bbff64d4ff...|
+--------+------+--------+--------+-------+---------------------+----------------------+--------------+---------------+---------------------+----------------------+--------------------+------+------------+----------------+--------------------+---------+-----+------+-------------+--------------------+----------------+----------------+------------------------+--------------------+
only showing top 10 rows

In [38]:
# Define fill values for nulls
fill_values = {
    "date": "1970-01-01",
    "states": "Unknown",
    "positive": 0,
    "negative": 0,
    "pending": 0,
    "hospitalizedCurrently": 0,
    "hospitalizedCumulative": 0,
    "inIcuCurrently": 0,
    "inIcuCumulative": 0,
    "onVentilatorCurrently": 0,
    "onVentilatorCumulative": 0,
    "dateChecked": "1970-01-01",
    "death": 0,
    "hospitalized": 0,
    "totalTestResults": 0,
    "lastModified": "1970-01-01",
    "recovered": 0,
    "total": 0,
    "posNeg": 0,
    "deathIncrease": 0,
    "hospitalizedIncrease": 0,
    "negativeIncrease": 0,
    "positiveIncrease": 0,
    "totalTestResultsIncrease": 0,
    "hash": "Unknown"
}

# Apply fill values for nulls
sparkDf = sparkDf.na.fill(fill_values)
# Showing the DataFrame to inspect the first 10 rows after filling values
sparkDf.show(10)

+--------+------+--------+--------+-------+---------------------+----------------------+--------------+---------------+---------------------+----------------------+--------------------+------+------------+----------------+--------------------+---------+-----+------+-------------+--------------------+----------------+----------------+------------------------+--------------------+
|    date|states|positive|negative|pending|hospitalizedCurrently|hospitalizedCumulative|inIcuCurrently|inIcuCumulative|onVentilatorCurrently|onVentilatorCumulative|         dateChecked| death|hospitalized|totalTestResults|        lastModified|recovered|total|posNeg|deathIncrease|hospitalizedIncrease|negativeIncrease|positiveIncrease|totalTestResultsIncrease|                hash|
+--------+------+--------+--------+-------+---------------------+----------------------+--------------+---------------+---------------------+----------------------+--------------------+------+------------+----------------+--------------------+---------+-----+------+-------------+--------------------+----------------+----------------+------------------------+--------------------+
|20210307|    56|28755524|74579770|  11808|                40212|                878613|          8137|          45475|                 2801|                  4281|2021-03-07T24:00:00Z|515142|      878613|       363789451|2021-03-07T24:00:00Z|         |    0|     0|          839|                 726|          130414|           41265|                 1156241|8b26839690cd05c0c...|
|20210306|    56|28714259|74449356|  11783|                41401|                877887|          8409|          45453|                 2811|                  4280|2021-03-06T24:00:00Z|514303|      877887|       362633210|2021-03-06T24:00:00Z|         |    0|     0|         1674|                 503|          142201|           59620|                 1409138|d0c0482ea549c9d5c...|
|20210305|    56|28654639|74307155|  12213|                42541|                877384|          8634|          45373|                 2889|                  4275|2021-03-05T24:00:00Z|512629|      877384|       361224072|2021-03-05T24:00:00Z|         |    0|     0|         2221|                2781|          271917|           68787|                 1744417|a35ea4289cec4bb55...|
|20210304|    56|28585852|74035238|  12405|                44172|                874603|          8970|          45293|                 2973|                  4267|2021-03-04T24:00:00Z|510408|      874603|       359479655|2021-03-04T24:00:00Z|         |    0|     0|         1743|                1530|          177957|           65487|                 1590984|a19ad6379a653834c...|
|20210303|    56|28520365|73857281|  11778|                45462|                873073|          9359|          45214|                 3094|                  4260|2021-03-03T24:00:00Z|508665|      873073|       357888671|2021-03-03T24:00:00Z|         |    0|     0|         2449|                2172|          267001|           66836|                 1406795|9e1d2afda1b0ec243...|
|20210302|    56|28453529|73590280|  11196|                46388|                870901|          9465|          45084|                 3169|                  4257|2021-03-02T24:00:00Z|506216|      870901|       356481876|2021-03-02T24:00:00Z|         |    0|     0|         1728|                1871|          255779|           54248|                 1343519|d09d1f506dacacd07...|
|20210301|    56|28399281|73334501|  11748|                46738|                869030|          9595|          44956|                 3171|                  4252|2021-03-01T24:00:00Z|504488|      869030|       355138357|2021-03-01T24:00:00Z|         |    0|     0|         1241|                1024|          118077|           48092|                 1154440|b8084497a1216c1ba...|
|20210228|    56|28351189|73216424|  11708|                47352|                868006|          9802|          44907|                 3245|                  4252|2021-02-28T24:00:00Z|503247|      868006|       353983917|2021-02-28T24:00:00Z|         |    0|     0|         1051|                 879|          203599|           54349|                 1408422|c7cfdf3c2bf747296...|
|20210227|    56|28296840|73012825|  11731|                48871|                867127|         10114|          44875|                 3335|                  4252|2021-02-27T24:00:00Z|502196|      867127|       352575495|2021-02-27T24:00:00Z|         |    0|     0|         1847|                1428|          205090|           71245|                 1655179|b1154e8002e47ec58...|
|20210226|    56|28225595|72807735|  11945|                51112|                865699|         10466|          44791|                 3466|                  4247|2021-02-26T24:00:00Z|500349|      865699|       350920316|2021-02-26T24:00:00Z|         |    0|     0|         2141|                1933|          276829|           74857|                 1803309|24286d9bbff64d4ff...|
+--------+------+--------+--------+-------+---------------------+----------------------+--------------+---------------+---------------------+----------------------+--------------------+------+------------+----------------+--------------------+---------+-----+------+-------------+--------------------+----------------+----------------+------------------------+--------------------+
only showing top 10 rows

In [39]:
# Converting back to DynamicFrame for writing to S3
cleaned_dynamic_frame = DynamicFrame.fromDF(sparkDf, glueContext, "cleaned_dynamic_frame")

# Write the cleaned data back to S3
output_path = "s3://etlemrbucket/cleandata/"
glueContext.write_dynamic_frame.from_options(
    frame=cleaned_dynamic_frame,
    connection_type="s3",
    connection_options={"path": output_path},
    format="csv"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f83d62e2f80>